@media screen and (max-width: 1100px) {
  *{
      box-sizing: border-box;
  }
    body{
        background-color: pink;
        /* border: 5px solid white; */
        width: 100%;
        /* background-image: url("img/sfondo_1.jpeg");
        background-repeat: repeat-y;
        background-position: top;
        background-attachment: fixed; */
    }
    .row{
        width: 95%;
        margin: auto;
    }
    h1{
        margin: 20px 0;
    }
    /* BLOCCO LEZIONI */
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 50%;
        float: left;
        padding: 20px;
          border: 3px solid blue;
      
        /* border: 3px solid lightblue; */

    }
    #lezioni .row>.right {
        float: right;
          border: 3px solid blue;
      
        /* border: 3px solid lightblue; */

    }
            #lezioni  .row .left img {
        width: auto;
        height: 150px;
        padding: 0 10px;
        background-color: indigo;
        }
    #lezioni .row .right img {
        width: auto;
        height: 150px;
        padding: 20px 0px;
        background-color: red;
        }

    /* #lezioni .row .right img {

        width: 80%;
        height: auto;
        background-color: red;
        } */

    #lezioni {
        margin: auto;
        text-align: center;
        width: 95%;
    }
    #lezioni::after{
        clear: both;
        display: table;
        content: "";
    }

    /* BLOCCO STEPS */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    width: 40%;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding:10px;
    }

    #steps {
    text-align: center;
    }

    /* BLOCCO PERCHE */
    #why {
    text-align: center;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    padding: 10px 15px;
    }

    #why .row .first img,
    #why .row .third img,
    #why .row .second img {
    background-color: #428bca;
    border-radius: 50%;
    width: 210px;
    
    }
    #why .row .first img,
    #why .row .third img {
    float: left;
    margin: 0  5% 20px 0;

    }
    #why .row .second img {
        margin: 0  0px 20px 5%;
    float: right;

    }
    #why .row .first::after,
    #why .row .second::after,
    #why .row .third::after {
        content: '';
        display: table;
        clear: both;
    }
    /* COMMON */

    .container.grey {
        background-color:inherit;
    }
    img {
        width: 60%;
        height: auto;
    }
    .clear {
    clear: both;
    }
}
  